In [2]:
# https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/

import pandas as pd
import numpy as np

In [3]:
# Series and Dataframes

# Series is basically a column
# Dataframe is a multidimensional table made up of a collection of series

In [4]:
# Creating a Series
# Syntax : pandas.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)

mySeries=pd.Series([1,2,3,4])
print("My Series")
print(mySeries)

#Creating Series with a name and different Index
mySeries=pd.Series([1,2,3,4],name="Numbers",index=["One","Two","Three","Four"])
print("My Series with a name and different Index")
print(mySeries)

My Series
0    1
1    2
2    3
3    4
dtype: int64
My Series with a name and different Index
One      1
Two      2
Three    3
Four     4
Name: Numbers, dtype: int64

In [5]:
# Creating a dataframe
# Syntax : pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)

myDataFrame=pd.DataFrame({ "Apples":[1,2,3,4], "Orange":[1,2,3,4]})
print(myDataFrame)

# Creating the dataframe with a index
myDataFrame=pd.DataFrame({"Apples":[1,2,3,4],"Orange":[1,2,3,4]},index=["June","July","August","September"])
print(myDataFrame)

#Creating the dataframe with a particular datatype
myDataFrame1=pd.DataFrame({"Apples":[1,2,3,4],"Orange":[1,2,3,4]},index=["June","July","August","September"],dtype=np.float64)
print(myDataFrame1)


# Locating a particular index
print("Locating Data with index: June")
print(myDataFrame.loc["June"])

   Apples  Orange
0       1       1
1       2       2
2       3       3
3       4       4
           Apples  Orange
June            1       1
July            2       2
August          3       3
September       4       4
           Apples  Orange
June          1.0     1.0
July          2.0     2.0
August        3.0     3.0
September     4.0     4.0
Locating Data with index: June
Apples    1
Orange    1
Name: June, dtype: int64

In [6]:
# Reading file

myDataFramefromFile=pd.read_csv('D:/Demo.csv')
print(myDataFramefromFile)

# for csv files there is no index, so we need to initialize the index
#index_col=0 denotes the first column

myDataFramefromFile=pd.read_csv('D:/Demo.csv',index_col=0)
print(myDataFramefromFile)

#index_col=1 denotes the second column

myDataFramefromFile=pd.read_csv('D:/Demo.csv',index_col=1)
print(myDataFramefromFile)

   Code  2010  2011  2012  2013
0     1   100   101   102   103
1     2   102   103   104   105
2     3   500   501   502   503
3     4  1400  1401  1402  1403
4     5   123   124   125   126
      2010  2011  2012  2013
Code
1      100   101   102   103
2      102   103   104   105
3      500   501   502   503
4     1400  1401  1402  1403
5      123   124   125   126
      Code  2011  2012  2013
2010
100      1   101   102   103
102      2   103   104   105
500      3   501   502   503
1400     4  1401  1402  1403
123      5   124   125   126

In [7]:
# Converting File Formats

myDataFramefromFile=pd.read_csv('D:/Demo.csv')
convertedFile=myDataFramefromFile.to_json('D:/Demo.json')
myDataFramefromJSON=pd.read_json('D:/Demo.json')
print(myDataFramefromJSON)

   Code  2010  2011  2012  2013
0     1   100   101   102   103
1     2   102   103   104   105
2     3   500   501   502   503
3     4  1400  1401  1402  1403
4     5   123   124   125   126

In [8]:
#Few Operations

myData=pd.read_excel(r'D:/Furniture Sales.xlsx')

#Selecting top 5 rows
print("Printing Top 5 Rows")
print(myData.head())

#Selecting bottom 3 rows
print("Printing Bottom 3 Rows")
print(myData.tail(3))

#Information about the file
print("Printing info about the file")
print(myData.info())

#Shape of the file
print("Shape of the file (rows,columns)")
print(myData.shape)

Printing Top 5 Rows
   Row ID        Order ID Order Date  Ship Date       Ship Mode  \
0  5328.0  CA-2011-130813 2013-01-06 2013-01-08    Second Class
1  4938.0  CA-2011-157147 2013-01-13 2013-01-18  Standard Class
2  4939.0  CA-2011-157147 2013-01-13 2013-01-18  Standard Class
3  4940.0  CA-2011-157147 2013-01-13 2013-01-18  Standard Class
4  5365.0  CA-2011-123477 2013-01-18 2013-01-21    Second Class

        Product ID                                   Product Name
0  OFF-PA-10002005                                      Xerox 225
1  OFF-ST-10000078          Tennsco 6- and 18-Compartment Lockers
2  FUR-BO-10003034  O'Sullivan Elevations Bookcase, Cherry Finish
3  OFF-AR-10003514                   4009 Highlighters by Sanford
4  OFF-AP-10000692      Fellowes Mighty 8 Compact Surge Protector
Printing Bottom 3 Rows
       Row ID        Order ID Order Date Ship Date       Ship Mode  \
3215  54414.0  CA-2014-693529        NaT       NaT  Standard Class
3216  58208.0  CA-2014-734822        NaT       NaT  Standard Class
3217      NaN  CA-2014-776115        NaT       NaT  Standard Class

           Product ID Product Name
3215              NaN          NaN
3216  OFF-BI-10002101          NaN
3217  OFF-BI-10004630          NaN
Printing info about the file
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3218 entries, 0 to 3217
Data columns (total 7 columns):
Row ID          3217 non-null float64
Order ID        3218 non-null object
Order Date      3215 non-null datetime64[ns]
Ship Date       3215 non-null datetime64[ns]
Ship Mode       3218 non-null object
Product ID      3213 non-null object
Product Name    3203 non-null object
dtypes: datetime64[ns](2), float64(1), object(4)
memory usage: 176.1+ KB
None
Shape of the file (rows,columns)
(3218, 7)

In [9]:
# Duplicating dataframe

temp=myData.append(myData)
print("Shape of MyData : ",myData.shape)
print("Shape of Temp",temp.shape)

# Eliminating the duplicates
temp=temp.drop_duplicates()
print("Shape of Temp after eliminating duplicates",temp.shape)

# inplace
# in the above example we are doing and assigning to the temp. So without assigning, we can inplace them directly

temp=myData.append(myData)
print(temp.shape)
temp.drop_duplicates(inplace=True)
print(temp.shape)

# keep
# 'first' - drop duplicates after first occurance
# 'last' - drop duplicates except for the last occurace
# False - drop all duplicates
temp=myData.append(myData)
print(temp.shape)
temp=temp.append(myData)
print(temp.shape)
temp.drop_duplicates(inplace=True, keep='last')
print(temp.shape)

Shape of MyData :  (3218, 7)
Shape of Temp (6436, 7)
Shape of Temp after eliminating duplicates (3218, 7)
(6436, 7)
(3218, 7)
(6436, 7)
(9654, 7)
(3218, 7)

In [10]:
# Cleaning Columns

# printing the column names 
print(myData.columns)

#renaming the column names
myData.rename(columns={"Row ID":"Row_ID", "Order ID":"Order_ID","Ship Date":"Ship_Date"},inplace=True)
print(myData.columns)

#without renaming we can convert the column names directly but all the column titles should present
myData.columns=['ROW ID','ORDER ID','ORDER DATE','SHIP DATE','SHIP MODE','PRODUCT ID','PRODUCT NAME']
print(myData.columns)

#even simpler is we can use list or dictionary comprehensions to convert the column titles incase of changing the Cases

myData.columns=[column.lower() for column in myData]
print(myData.columns)

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Product ID', 'Product Name'],
      dtype='object')
Index(['Row_ID', 'Order_ID', 'Order Date', 'Ship_Date', 'Ship Mode',
       'Product ID', 'Product Name'],
      dtype='object')
Index(['ROW ID', 'ORDER ID', 'ORDER DATE', 'SHIP DATE', 'SHIP MODE',
       'PRODUCT ID', 'PRODUCT NAME'],
      dtype='object')
Index(['row id', 'order id', 'order date', 'ship date', 'ship mode',
       'product id', 'product name'],
      dtype='object')

In [21]:
# Missing values
# Two ways of dealing with nulls : 1. Drop Null Rows or Columns 2. Replacing null with some not null values(IMPUTATION)

# finding the columns having null values
myData.isnull()

#counting number of nulls in each column
print(myData.isnull().sum())

row id           1
order id         0
order date       3
ship date        3
ship mode        0
product id       5
product name    15
dtype: int64

In [22]:
#removing null values
print("Rows and Column before dropping null values : ",myData.shape)
#print("Rows and Column after dropping null values : ",myData.dropna().shape)
#myData.dropna() will return a dataframe which is created from the original dataframe without null values 

#removing null values particularly in rows and columns
#axis 0 for rows and axis 1 for columns
print(myData.dropna(axis=0).shape)

Rows and Column before dropping null values :  (3218, 7)
(3203, 7)

In [27]:
#imputation

#copying row id column to a variable
rowid=myData['row id']

#finding median values from the values in the row id
median=rowid.median()
print(median)

#filling null values with the median value in the myData
rowid.fillna(median,inplace=True)

#checking the null in the row id in myData
myData.isnull().sum()

5004.0

row id           0
order id         0
order date       3
ship date        3
ship mode        0
product id       5
product name    15
dtype: int64

In [30]:
myData.describe()
#describe shows only row id because it is the only column in integer format

#for the other columns
myData['product name'].describe()

#to show how frequent all the products
myData['product name'].value_counts()

Staples                                                                  13
Staple envelope                                                          10
Easy-staple paper                                                         9
Avery Non-Stick Binders                                                   8
Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl                           7
Bretford Rectangular Conference Table Tops                                7
Xerox 225                                                                 7
Staples in misc. colors                                                   7
Vinyl Sectional Post Binders                                              7
SAFCO Arco Folding Chair                                                  7
Global Troy Executive Leather Low-Back Tilter                             7
GBC Standard Therm-A-Bind Covers                                          6
Global Deluxe Stacking Chair, Gray                                        6
Cardinal Holdit Business Card Pockets                                     6
Novimex Fabric Task Chair                                                 6
O'Sullivan Living Dimensions 2-Shelf Bookcases                            6
Staple holder                                                             6
Fellowes Super Stor/Drawer Files                                          6
GuestStacker Chair with Chrome Finish Legs                                6
Sterilite Officeware Hinged File Box                                      6
Kingston Digital DataTraveler 16GB USB 2.0                                6
Prang Drawing Pencil Set                                                  6
Wilson Jones Leather-Like Binders with DublLock Round Rings               6
Dana Halogen Swing-Arm Architect Lamp                                     6
Carina Double Wide Media Storage Towers in Natural & Black                6
SAFCO Boltless Steel Shelving                                             6
Wilson Jones Easy Flow II Sheet Lifters                                   5
Recycled Pressboard Report Cover with Reinforced Top Hinge                5
Eldon Portable Mobile Manager                                             5
Fellowes Mobile File Cart, Black                                          5
                                                                         ..
Cisco SPA508G                                                             1
Office Star Flex Back Scooter Chair with White Frame                      1
Eldon File Chest Portable File                                            1
Wirebound Message Books, 2 7/8" x 5", 3 Forms per Page                    1
Hypercom P1300 Pinpad                                                     1
Acco Smartsocket Table Surge Protector, 6 Color-Coded Adapter Outlets     1
Pastel Pink Envelopes                                                     1
Maxell 4.7GB DVD+RW 3/Pack                                                1
Luxo Professional Fluorescent Magnifier Lamp with Clamp-Mount Base        1
Avery Durable Poly Binders                                                1
GBC Instant Index System for Binding Systems                              1
X-Rack File for Hanging Folders                                           1
Tops White Computer Printout Paper                                        1
Black Avery Memo-Size 3-Ring Binder, 5 1/2" x 8 1/2"                      1
Weyerhaeuser First Choice Laser/Copy Paper (20Lb. and 88 Bright)          1
Tennsco Single-Tier Lockers                                               1
Samsung Galaxy S III - 16GB - pebble blue (T-Mobile)                      1
Xerox 1922                                                                1
Samsung Galaxy Note 3                                                     1
Imation 32GB Pocket Pro USB 3.0 Flash Drive - 32 GB - Black - 1 P ...     1
Logitech Keyboard K120                                                    1
Hammermill CopyPlus Copy Paper (20Lb. and 84 Bright)                      1
Wilson Jones Century Plastic Molded Ring Binders                          1
Eureka Sanitaire  Multi-Pro Heavy-Duty Upright, Disposable Bags           1
Wilson SignalBoost 841262 DB PRO Amplifier Kit                            1
Eldon "L" Workstation Diamond Chairmat                                    1
Polycom VVX 310 VoIP phone                                                1
Xerox 232                                                                 1
HP Office Recycled Paper (20Lb. and 87 Bright)                            1
QVS USB Car Charger 2-Port 2.1Amp for iPod/iPhone/iPad/iPad 2/iPad 3      1
Name: product name, Length: 1503, dtype: int64

In [31]:
#Correlation
myData.corr()

        row id
row id     1.0

In [40]:
# More into Data Slicing
# Series extraction and Dataframe Extraction

row=myData['row id']
type(row)

print(myData.columns)

orderidanddate=myData[['order id','order date']]
type(orderidanddate)

print(orderidanddate.head(10))

Index(['row id', 'order id', 'order date', 'ship date', 'ship mode',
       'product id', 'product name'],
      dtype='object')
         order id order date
0  CA-2011-130813 2013-01-06
1  CA-2011-157147 2013-01-13
2  CA-2011-157147 2013-01-13
3  CA-2011-157147 2013-01-13
4  CA-2011-123477 2013-01-18
5  CA-2011-146591 2013-01-19
6  CA-2011-146591 2013-01-19
7  CA-2011-146591 2013-01-19
8  CA-2011-146591 2013-01-19
9  CA-2011-148614 2013-01-20

In [43]:
#Row Extraction
#loc and iloc
#loc[] - identifying location through name of the index
#iloc[] - identifying location through the numerical index

print(myData.loc[1])
# 1 denotes the name of the index, if the index is in the form of text then it corresponds to the name

print(myData.iloc[1])
# 1 denotes the numerical position of the number 1

row id                                           4938
order id                               CA-2011-157147
order date                        2013-01-13 00:00:00
ship date                         2013-01-18 00:00:00
ship mode                              Standard Class
product id                            OFF-ST-10000078
product name    Tennsco 6- and 18-Compartment Lockers
Name: 1, dtype: object
row id                                           4938
order id                               CA-2011-157147
order date                        2013-01-13 00:00:00
ship date                         2013-01-18 00:00:00
ship mode                              Standard Class
product id                            OFF-ST-10000078
product name    Tennsco 6- and 18-Compartment Lockers
Name: 1, dtype: object

In [57]:
#Conditional Extraction

condition=(myData['ship mode']=='First Class')
print(condition)
#it returns all the values including true and false

#to get only the true values we need to pass it as a dataframe

condition=myData[myData['ship mode']=='First Class']
print(condition)

#Make sure to find the difference between the two
# condition=      (myData['ship mode']=='First Class')
# condition=myData[myData['ship mode']=='First Class']

0       False
1       False
2       False
3       False
4       False
5        True
6        True
7        True
8        True
9       False
10      False
11      False
12      False
13      False
14      False
15       True
16      False
17      False
18      False
19      False
20      False
21      False
22       True
23      False
24      False
25      False
26      False
27      False
28      False
29       True
        ...
3188    False
3189    False
3190    False
3191    False
3192     True
3193    False
3194    False
3195    False
3196    False
3197    False
3198    False
3199    False
3200    False
3201    False
3202    False
3203    False
3204    False
3205    False
3206    False
3207    False
3208    False
3209    False
3210    False
3211    False
3212    False
3213    False
3214    False
3215    False
3216    False
3217    False
Name: ship mode, Length: 3218, dtype: bool
      row id        order id order date  ship date    ship mode  \
5     5463.0  CA-2011-146591 2013-01-19 2013-01-20  First Class
6     5464.0  CA-2011-146591 2013-01-19 2013-01-20  First Class
7     5465.0  CA-2011-146591 2013-01-19 2013-01-20  First Class
8     5466.0  CA-2011-146591 2013-01-19 2013-01-20  First Class
15    3366.0  CA-2011-115161 2013-01-31 2013-02-02  First Class
22    9267.0  CA-2011-125759 2013-02-08 2013-02-09  First Class
29    7611.0  CA-2011-133354 2013-02-22 2013-02-24  First Class
34    4962.0  CA-2011-156587 2013-03-07 2013-03-08  First Class
35    4963.0  CA-2011-156587 2013-03-07 2013-03-08  First Class
36    4964.0  CA-2011-156587 2013-03-07 2013-03-08  First Class
82    4845.0  US-2011-128685 2013-04-04 2013-04-05  First Class
123   8452.0  CA-2011-131387 2013-04-28 2013-04-30  First Class
124   7999.0  US-2011-148194 2013-05-04 2013-05-07  First Class
125   8000.0  US-2011-148194 2013-05-04 2013-05-07  First Class
149   2761.0  CA-2011-129574 2013-05-26 2013-05-29  First Class
180    422.0  CA-2011-142048 2013-06-22 2013-06-25  First Class
183   1098.0  CA-2011-159338 2013-06-25 2013-06-28  First Class
189   6733.0  CA-2011-120096 2013-07-04 2013-07-07  First Class
190   6734.0  CA-2011-120096 2013-07-04 2013-07-07  First Class
212   5969.0  CA-2011-141726 2013-07-20 2013-07-22  First Class
213   5970.0  CA-2011-141726 2013-07-20 2013-07-22  First Class
214   5971.0  CA-2011-141726 2013-07-20 2013-07-22  First Class
215   5972.0  CA-2011-141726 2013-07-20 2013-07-22  First Class
216   7229.0  CA-2011-157546 2013-07-20 2013-07-22  First Class
217   7230.0  CA-2011-157546 2013-07-20 2013-07-22  First Class
218   8130.0  CA-2011-127866 2013-07-20 2013-07-23  First Class
219   8131.0  CA-2011-127866 2013-07-20 2013-07-23  First Class
220   8132.0  CA-2011-127866 2013-07-20 2013-07-23  First Class
221   8133.0  CA-2011-127866 2013-07-20 2013-07-23  First Class
251   2173.0  CA-2011-152296 2013-08-01 2013-08-03  First Class
...      ...             ...        ...        ...          ...
3002  1653.0  US-2014-132444 2016-11-18 2016-11-21  First Class
3003  1654.0  US-2014-132444 2016-11-18 2016-11-21  First Class
3004  1655.0  US-2014-132444 2016-11-18 2016-11-21  First Class
3005  1656.0  US-2014-132444 2016-11-18 2016-11-21  First Class
3006  1657.0  US-2014-132444 2016-11-18 2016-11-21  First Class
3007  1479.0  CA-2014-121468 2016-11-19 2016-11-20  First Class
3026  4765.0  CA-2014-123701 2016-11-24 2016-11-27  First Class
3041  1928.0  CA-2014-121538 2016-11-28 2016-12-01  First Class
3043  6300.0  CA-2014-107314 2016-11-30 2016-12-03  First Class
3057  1753.0  CA-2014-116715 2016-12-02 2016-12-05  First Class
3058  1754.0  CA-2014-116715 2016-12-02 2016-12-05  First Class
3059  1755.0  CA-2014-116715 2016-12-02 2016-12-05  First Class
3086  8391.0  CA-2014-153227 2016-12-04 2016-12-06  First Class
3090  9525.0  CA-2014-156958 2016-12-05 2016-12-06  First Class
3091  9526.0  CA-2014-156958 2016-12-05 2016-12-06  First Class
3092  9527.0  CA-2014-156958 2016-12-05 2016-12-06  First Class
3093  9528.0  CA-2014-156958 2016-12-05 2016-12-06  First Class
3094  9529.0  CA-2014-156958 2016-12-05 2016-12-06  First Class
3096   566.0  CA-2014-137099 2016-12-07 2016-12-10  First Class
3107  3431.0  CA-2014-148264 2016-12-08 2016-12-09  First Class
3108  3432.0  CA-2014-148264 2016-12-08 2016-12-09  First Class
3109  3433.0  CA-2014-148264 2016-12-08 2016-12-09  First Class
3155  1025.0  CA-2014-106964 2016-12-17 2016-12-20  First Class
3161  2887.0  CA-2014-102099 2016-12-18 2016-12-19  First Class
3162  2888.0  CA-2014-102099 2016-12-18 2016-12-19  First Class
3163  2889.0  CA-2014-102099 2016-12-18 2016-12-19  First Class
3178  8178.0  CA-2014-149699 2016-12-22 2016-12-24  First Class
3181  4620.0  CA-2014-145219 2016-12-24 2016-12-25  First Class
3182  4621.0  CA-2014-145219 2016-12-24 2016-12-25  First Class
3192  6150.0  CA-2014-101322 2016-12-28 2016-12-31  First Class

           product id                                       product name
5     OFF-BI-10003676  GBC Standard Recycled Report Covers, Clear Pla...
6     OFF-PA-10000659  TOPS Carbonless Receipt Book, Four 2-3/4 x 7-1...
7     OFF-EN-10002504  Tyvek  Top-Opening Peel & Seel Envelopes, Plai...
8     FUR-BO-10001972         O'Sullivan 4-Shelf Bookcase in Odessa Pine
15    FUR-BO-10003966  Sauder Facets Collection Library, Sky Alder Fi...
22    FUR-FU-10002111               Master Caster Door Stop, Large Brown
29    OFF-PA-10001800                                          Xerox 220
34    FUR-CH-10004477         Global Push Button Manager's Chair, Indigo
35    OFF-AR-10001427                                         Newell 330
36    OFF-ST-10002344            Carina 42"Hx23 3/4"W Media Storage Unit
82    OFF-BI-10004140                            Avery Non-Stick Binders
123   TEC-PH-10001459                            Samsung Galaxy Mega 6.3
124   FUR-FU-10001852  Eldon Regeneration Recycled Desk Accessories, ...
125   OFF-AP-10000696                                Holmes Odor Grabber
149   OFF-PA-10002893          Wirebound Service Call Books, 5 1/2" x 4"
180   TEC-AC-10004114           KeyTronic 6101 Series - Keyboard - Black
183   FUR-TA-10004147                             Hon 4060 Series Tables
189   OFF-PA-10001977                                          Xerox 194
190   OFF-AP-10000692          Fellowes Mighty 8 Compact Surge Protector
212   OFF-PA-10000418                                          Xerox 189
213   OFF-BI-10001982         Wilson Jones Custom Binder Spines & Labels
214   OFF-PA-10002230                                         Xerox 1897
215   FUR-FU-10003577                         Nu-Dell Leatherette Frames
216   OFF-BI-10002498                     Clear Mylar Reinforcing Strips
217   OFF-PA-10004569  Wirebound Message Books, Two 4 1/4" x 5" Forms...
218   TEC-AC-10000023             Maxell 74 Minute CD-R Spindle, 50/Pack
219   OFF-PA-10003971                                         Xerox 1965
220   OFF-AR-10003481                                         Newell 348
221   OFF-ST-10001490                     Hot File 7-Pocket, Floor Stand
251   OFF-BI-10004506  Wilson Jones data.warehouse D-Ring Binders wit...
...               ...                                                ...
3002  OFF-ST-10003442                      Eldon Portable Mobile Manager
3003  TEC-AC-10003832  Imation 16GB Mini TravelDrive USB 2.0 Flash Drive
3004  OFF-FA-10000611                                Binder Clips by OIC
3005  OFF-BI-10001116      Wilson Jones 1" Hanging DublLock Ring Binders
3006  OFF-ST-10000563        Fellowes Bankers Box Stor/Drawer Steel Plus
3007  TEC-PH-10000376                          Square Credit Card Reader
3026  OFF-AR-10001860                              BIC Liqua Brite Liner
3041  OFF-PA-10004071  Eaton Premium Continuous-Feed Paper, 25% Cotto...
3043  FUR-FU-10003489                      Contemporary Borderless Frame
3057  OFF-ST-10004340                   Fellowes Mobile File Cart, Black
3058  OFF-PA-10004475                                         Xerox 1940
3059  OFF-PA-10003893                                         Xerox 1962
3086  OFF-PA-10001838  Adams Telephone Message Book W/Dividers/Space ...
3090  OFF-BI-10001524  GBC Premium Transparent Covers with Diagonal L...
3091  FUR-FU-10003268  Eldon Radial Chair Mat for Low to Medium Pile ...
3092  TEC-PH-10000148  Cyber Acoustics AC-202b Speech Recognition Ste...
3093  OFF-BI-10001543               GBC VeloBinder Manual Binding System
3094  OFF-BI-10002071               Fellowes Black Plastic Comb Bindings
3096  TEC-PH-10002496                                       Cisco SPA301
3107  OFF-ST-10003327                           Akro-Mils 12-Gallon Tote
3108  FUR-FU-10002703  Tenex Traditional Chairmats for Hard Floors, A...
3109  OFF-PA-10003651                                         Xerox 1968
3155  OFF-BI-10000320                          GBC Plastic Binding Combs
3161  OFF-AR-10003811                                         Newell 327
3162  OFF-PA-10003172                                         Xerox 1996
3163  OFF-PA-10000289                                          Xerox 213
3178  TEC-AC-10000474  Kensington Expert Mouse Optical USB Trackball ...
3181  TEC-CO-10001449               Hewlett Packard LaserJet 3310 Copier
3182  OFF-BI-10001670                       Vinyl Sectional Post Binders
3192  FUR-CH-10003968                           Novimex Turbo Task Chair

[515 rows x 7 columns]

In [68]:
# Few more Try

condition=myData[(myData['ship mode']=='First Class') | (myData['ship mode']== 'Second Class')]
print(condition.count())

#another way to do the above operation
#isin
condition=myData[myData['ship mode'].isin(['First Class','Second Class'])]
print(condition.count())

row id          1136
order id        1136
order date      1136
ship date       1136
ship mode       1136
product id      1136
product name    1136
dtype: int64
row id          1136
order id        1136
order date      1136
ship date       1136
ship mode       1136
product id      1136
product name    1136
dtype: int64

In [71]:
#Applying Functions

def shipment_success(x):
    if x=='First Class':
        return 'Success'
    elif x=='Second Class':
        return 'Delayed'
    else:
        return 'UnSuccessfull'
    

myData["shipmentsuccess"]=myData['ship mode'].apply(shipment_success)
print(myData)

       row id        order id order date  ship date       ship mode  \
0      5328.0  CA-2011-130813 2013-01-06 2013-01-08    Second Class
1      4938.0  CA-2011-157147 2013-01-13 2013-01-18  Standard Class
2      4939.0  CA-2011-157147 2013-01-13 2013-01-18  Standard Class
3      4940.0  CA-2011-157147 2013-01-13 2013-01-18  Standard Class
4      5365.0  CA-2011-123477 2013-01-18 2013-01-21    Second Class
5      5463.0  CA-2011-146591 2013-01-19 2013-01-20     First Class
6      5464.0  CA-2011-146591 2013-01-19 2013-01-20     First Class
7      5465.0  CA-2011-146591 2013-01-19 2013-01-20     First Class
8      5466.0  CA-2011-146591 2013-01-19 2013-01-20     First Class
9      5737.0  CA-2011-148614 2013-01-20 2013-01-25  Standard Class
10     5738.0  CA-2011-148614 2013-01-20 2013-01-25  Standard Class
11     9156.0  CA-2011-102645 2013-01-23 2013-01-28  Standard Class
12     3795.0  US-2011-117163 2013-01-27 2013-02-02  Standard Class
13     3796.0  US-2011-117163 2013-01-27 2013-02-02  Standard Class
14     3797.0  US-2011-117163 2013-01-27 2013-02-02  Standard Class
15     3366.0  CA-2011-115161 2013-01-31 2013-02-02     First Class
16     1704.0  CA-2011-139857 2013-02-02 2013-02-06  Standard Class
17     1518.0  CA-2011-111059 2013-02-03 2013-02-06    Second Class
18     1519.0  CA-2011-111059 2013-02-03 2013-02-06    Second Class
19     1544.0  CA-2011-107181 2013-02-04 2013-02-08  Standard Class
20     1545.0  CA-2011-107181 2013-02-04 2013-02-08  Standard Class
21     8585.0  CA-2011-104808 2013-02-04 2013-02-08    Second Class
22     9267.0  CA-2011-125759 2013-02-08 2013-02-09     First Class
23      457.0  US-2011-110674 2013-02-12 2013-02-18  Standard Class
24     9762.0  CA-2011-121762 2013-02-14 2013-02-18  Standard Class
25     9763.0  CA-2011-121762 2013-02-14 2013-02-18  Standard Class
26     9764.0  CA-2011-121762 2013-02-14 2013-02-18  Standard Class
27     7438.0  CA-2011-165568 2013-02-15 2013-02-19  Standard Class
28     8504.0  CA-2011-164903 2013-02-20 2013-02-24  Standard Class
29     7611.0  CA-2011-133354 2013-02-22 2013-02-24     First Class
...       ...             ...        ...        ...             ...
3188   6807.0  CA-2014-162880 2016-12-25 2016-12-29  Standard Class
3189    271.0  CA-2014-163979 2016-12-28 2017-01-02    Second Class
3190   2432.0  CA-2014-129805 2016-12-28 2017-01-02  Standard Class
3191   6090.0  US-2014-162068 2016-12-28 2016-12-31    Second Class
3192   6150.0  CA-2014-101322 2016-12-28 2016-12-31     First Class
3193   8098.0  CA-2014-122798 2016-12-28 2017-01-01  Standard Class
3194   8099.0  CA-2014-122798 2016-12-28 2017-01-01  Standard Class
3195   1878.0  CA-2014-118885 2016-12-29 2017-01-02  Standard Class
3196   1879.0  CA-2014-118885 2016-12-29 2017-01-02  Standard Class
3197   5132.0  CA-2014-146626 2016-12-29 2017-01-05  Standard Class
3198   5457.0  CA-2014-130631 2016-12-29 2017-01-02  Standard Class
3199   5458.0  CA-2014-130631 2016-12-29 2017-01-02  Standard Class
3200   1297.0  CA-2014-115427 2016-12-30 2017-01-03  Standard Class
3201   1298.0  CA-2014-115427 2016-12-30 2017-01-03  Standard Class
3202   5092.0  CA-2014-156720 2016-12-30 2017-01-03  Standard Class
3203   8886.0  CA-2014-198013 2016-12-31 2017-01-03  Standard Class
3204  12680.0  CA-2014-239306 2016-12-31 2017-01-04  Standard Class
3205  16474.0  CA-2014-280599 2017-01-01 2017-01-04  Standard Class
3206  20268.0  CA-2014-321892 2017-01-01 2017-01-04  Standard Class
3207  24062.0  CA-2014-363185 2017-01-02 2017-01-04  Standard Class
3208  27856.0  CA-2014-404478 2017-01-02 2017-01-05  Standard Class
3209  31650.0  CA-2014-445771 2017-01-03 2017-01-05  Standard Class
3210  35444.0  CA-2014-487064 2017-01-03 2017-01-05  Standard Class
3211  39238.0  CA-2014-528357 2017-01-04 2017-01-05  Standard Class
3212  43032.0  CA-2014-569650 2017-01-04 2017-01-06  Standard Class
3213  46826.0  CA-2014-610943 2017-01-05 2017-01-06  Standard Class
3214  50620.0  CA-2014-652236 2017-01-05 2017-01-06  Standard Class
3215  54414.0  CA-2014-693529        NaT        NaT  Standard Class
3216  58208.0  CA-2014-734822        NaT        NaT  Standard Class
3217   5004.0  CA-2014-776115        NaT        NaT  Standard Class

           product id                                       product name  \
0     OFF-PA-10002005                                          Xerox 225
1     OFF-ST-10000078              Tennsco 6- and 18-Compartment Lockers
2     FUR-BO-10003034      O'Sullivan Elevations Bookcase, Cherry Finish
3     OFF-AR-10003514                       4009 Highlighters by Sanford
4     OFF-AP-10000692          Fellowes Mighty 8 Compact Surge Protector
5     OFF-BI-10003676  GBC Standard Recycled Report Covers, Clear Pla...
6     OFF-PA-10000659  TOPS Carbonless Receipt Book, Four 2-3/4 x 7-1...
7     OFF-EN-10002504  Tyvek  Top-Opening Peel & Seel Envelopes, Plai...
8     FUR-BO-10001972         O'Sullivan 4-Shelf Bookcase in Odessa Pine
9     OFF-PA-10002893          Wirebound Service Call Books, 5 1/2" x 4"
10    FUR-FU-10003194  Eldon Expressions Desk Accessory, Wood Pencil ...
11    OFF-PA-10001804                                          Xerox 195
12    OFF-ST-10003692  Recycled Steel Personal File for Hanging File ...
13    FUR-TA-10003469           Balt Split Level Computer Training Table
14    OFF-AR-10003179        Dixon Ticonderoga Core-Lock Colored Pencils
15    FUR-BO-10003966  Sauder Facets Collection Library, Sky Alder Fi...
16    OFF-FA-10001843                                            Staples
17    OFF-BI-10004593      Ibico Laser Imprintable Binding System Covers
18    OFF-BI-10002827                         Avery Durable Poly Binders
19    OFF-BI-10004230                 GBC Recycled Grain Textured Covers
20    OFF-PA-10000350  Message Book, Standard Line "While You Were Ou...
21    OFF-BI-10003676  GBC Standard Recycled Report Covers, Clear Pla...
22    FUR-FU-10002111               Master Caster Door Stop, Large Brown
23    FUR-CH-10000225                 Global Geo Office Task Chair, Gray
24    TEC-AC-10000736                     Logitech G600 MMO Gaming Mouse
25    OFF-AP-10001293                    Belkin 8 Outlet Surge Protector
26    OFF-SU-10000157           Compact Automatic Electric Letter Opener
27    OFF-BI-10001031            Pressboard Data Binders by Wilson Jones
28    OFF-PA-10003363                                          Xerox 204
29    OFF-PA-10001800                                          Xerox 220
...               ...                                                ...
3188  OFF-BI-10003314             Tuff Stuff Recycled Round Ring Binders
3189  OFF-ST-10003208                 Adjustable Depth Letter/Legal Cart
3190  FUR-FU-10001935                   3M Hangers With Command Adhesive
3191  OFF-BI-10002813          Avery Reinforcements for Hole-Punch Pages
3192  FUR-CH-10003968                           Novimex Turbo Task Chair
3193  OFF-ST-10003058  Eldon Mobile Mega Data Cart  Mega Stackable  A...
3194  OFF-PA-10004239                                         Xerox 1953
3195  FUR-CH-10002880          Global High-Back Leather Tilter, Burgundy
3196  TEC-PH-10002563                                   Adtran 1202752G1
3197  FUR-FU-10002501                            Nu-Dell Executive Frame
3198  OFF-FA-10000089                                   Acco Glide Clips
3199  FUR-FU-10004093            Hand-Finished Solid Wood Document Frame
3200  OFF-BI-10002103    Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl
3201  OFF-BI-10004632                                 GBC Binding covers
3202  OFF-FA-10003472                                Bagged Rubber Bands
3203  OFF-FA-10000088                                                NaN
3204  FUR-FU-10004092                                                NaN
3205  OFF-BI-10002102                                                NaN
3206  OFF-BI-10004631                                                NaN
3207  OFF-FA-10003471                                                NaN
3208  OFF-FA-10000087                                                NaN
3209  FUR-FU-10004091                                                NaN
3210              NaN                                                NaN
3211              NaN                                                NaN
3212  OFF-FA-10003470                                                NaN
3213              NaN                                                NaN
3214              NaN                                                NaN
3215              NaN                                                NaN
3216  OFF-BI-10002101                                                NaN
3217  OFF-BI-10004630                                                NaN

     shipmentsuccess
0            Delayed
1      UnSuccessfull
2      UnSuccessfull
3      UnSuccessfull
4            Delayed
5            Success
6            Success
7            Success
8            Success
9      UnSuccessfull
10     UnSuccessfull
11     UnSuccessfull
12     UnSuccessfull
13     UnSuccessfull
14     UnSuccessfull
15           Success
16     UnSuccessfull
17           Delayed
18           Delayed
19     UnSuccessfull
20     UnSuccessfull
21           Delayed
22           Success
23     UnSuccessfull
24     UnSuccessfull
25     UnSuccessfull
26     UnSuccessfull
27     UnSuccessfull
28     UnSuccessfull
29           Success
...              ...
3188   UnSuccessfull
3189         Delayed
3190   UnSuccessfull
3191         Delayed
3192         Success
3193   UnSuccessfull
3194   UnSuccessfull
3195   UnSuccessfull
3196   UnSuccessfull
3197   UnSuccessfull
3198   UnSuccessfull
3199   UnSuccessfull
3200   UnSuccessfull
3201   UnSuccessfull
3202   UnSuccessfull
3203   UnSuccessfull
3204   UnSuccessfull
3205   UnSuccessfull
3206   UnSuccessfull
3207   UnSuccessfull
3208   UnSuccessfull
3209   UnSuccessfull
3210   UnSuccessfull
3211   UnSuccessfull
3212   UnSuccessfull
3213   UnSuccessfull
3214   UnSuccessfull
3215   UnSuccessfull
3216   UnSuccessfull
3217   UnSuccessfull

[3218 rows x 8 columns]